@font-face {
  font-family: 'Merri';
  src: url('/fonts/Merriweather/Merriweather-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Merri;
  color: black;
}


a {
  text-decoration: none;
}

button,
input,
select,
option {
  border: none;
  outline: none;
}

header {
  width: 100%;
  box-shadow: 0px 2px 15px #FF0043;
}

.header_block {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  grid-gap: 20px;
  padding: 20px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .header_block {
    justify-content: flex-start;
  }
}

.logo {
  border-radius: 50px;
  width: 90px;
  height: 90px;
  box-shadow: 0px 2px 5px #FF0043;
}

.logo img {
  width: 100%;
}

.sidebar{
  background-color: #fff;
  /* z-index: 5; */
  display: flex;
  justify-content: flex-end;
}

.btn_sidebar {
  position: absolute;
  top: 50px;
  right: 220px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
}

@media screen and (min-width: 769px) {
  .btn_sidebar {
    display: none;
  }
}

.btn_sidebar span {
  border-radius: 50px;
  width: 100%;
  height: 3px;
  background-color: #FF0043;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  grid-gap: 20px;
  transition: .5s;
}

.sidebar_active {
  right: 0 !important;
}

nav .user_buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

nav .user_buttons form{
  padding: 10px;
}


@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    width: 200px;
    height: 100vh;
    top: 0;
    right: -210px;
    background-color: white;
    padding-top: 20px;
    box-shadow: 0px 2px 5px #FF0043;
  }
  nav .user_buttons{
    margin: auto;
    margin-top: 0;
  }
}

.kabinet {
  font-size: 14px;
  transition: .3s;
}

.kabinet:hover {
  color: #FF0043;
}

nav .user_buttons button {
  border: 1px solid #FF0043 !important;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  min-width: 120px;
  font-size: 16px;
  color: #fff;
  background-color: #FF0043;
  padding: 7px 10px;
  transition: .5s;
}

nav .user_buttons button:hover {
  color: #000;
  background-color: #fff;
}

nav .user_buttons a {
  font-size: 14px;
}

/* Модальное окно */
.modal_window {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transform: scale(.5);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  transition: .5s;
}

.modal_active {
  visibility: visible !important;
  opacity: 1 !important;
  transform: scale(1);
}

.modal_user_over {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 20px;
  background-color: #fff;
  padding: 20px;
}

form {
  background-color: rgba(0, 0, 0, 0);
}

.auth {
  border: 1px solid #FF0043;
  cursor: pointer;
  border-radius: 50px;
  min-width: 120px;
  font-size: 18px;
  color: #fff;
  background-color: #FF0043;
  padding: 7px 10px;
  transition: .5s;
}

.auth:hover{
  border: 1px solid #FF0043;
  color: #000;
  background-color: #fff;
}

.reg {
  cursor: pointer;
  border: none;
  background-color: white;
  transition: .3s;
}

.reg:hover{
  color: #FF0043;
}


form {
  border-radius: 20px;
  max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  background-color: white;
  margin: auto;
  padding: 30px;
}

.input_style {
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 10px;
  width: 100%;
  height: 40px;
  padding: 0px 7px;
  transition: .4s;
}

form button {
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #FF0043;
  padding: 5px 15px;
  margin: auto;
  transition: .5s;
}

.exit{
  padding: 0 !important;
}

/* Форма Авторизации */
.btn_auth_active {
  margin-right: 0 !important;
  opacity: 1 !important;
  visibility: visible !important;
}

/* Форма Регистрация */
.btn_reg_active {
  margin-right: 0 !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.input_reg_error{
  border: 1px solid red !important;
}

.reg_password_passive {
  border: 1px solid red !important;
}

.personal_data {
  display: flex;
  align-items: center;
  grid-gap: 5px;
}

.personal_data input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.personal_data label {
  user-select: none;
  cursor: pointer;
  font-size: 10px;
}

.error {
  border-radius: 50px;
  width: 100%;
  position: absolute;
  bottom: -45px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  color: white;
  background-color: red;
  transform: scale(0);
  padding: 5px;
  transition: .5s;
}

.error2 {
  border-radius: 50px;
  width: 100%;
  position: absolute;
  bottom: -45px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: white;
  background-color: red;
  transform: scale(0);
  padding: 5px;
  transition: .5s;
}

.error3 {
  border-radius: 50px;
  width: 100%;
  position: absolute;
  bottom: -45px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: white;
  background-color: red;
  transform: scale(0);
  padding: 5px;
  transition: .5s;
}

.error_active {
  visibility: visible !important;
  opacity: 1 !important;
  transform: scale(1);
}